# Ignore all files in the build directory
build/

# Ignore vs code files
.vscode/

# Ignore pytest cache
.pytest_cache/
test/tests/**/.pytest_cache/

# Ignore all python cache in all directory
./test/tests/**/__pycache__/

# Ignore python venv
test/.venv/

# Ignore all the .o files
*.o

# Ignore all the .exe files
*.exe

# Ignore all the .out files
*.out

# Ignore lib dir
lib/

# Ignore gitlet executable
gitlet

# Ignore all the .gitlet directory
.gitlet/
test/tests/**/.gitlet/