# Ignore all files in the build directory
build/

# Ignore vs code files
.vscode/

# Ignore pytest cache
.pytest_cache/

# Ignore python cache
test/test_python/__pycache__/

# Ignore python venv
test/test_python/.venv/

# Ignore all the .o files
*.o

# Ignore all the .exe files
*.exe

# Ignore all the .out files
*.out

# Ignore lib dir
lib/